.ModuleFormObject__DocumentPreview {
  width: 100%;
  height: calc(100% - 50px);
  /*background-size: cover;*/
}

.ModuleFormObject__DocumentPreview__Caption {
  height: 45px;
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: white;
}
