.GenericCard__card {
  margin-top: 20px;
}

.GenericCard__textContainer {
  display:inline-flex;
  height: 60px;
  padding: 10px;
  align-items: center;
}

.GenericCard_footerButton {
  margin-left: auto;
}
