.Translate__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Translate__text_container_row {
  padding-top: 70px;
  flex: 1;
}

.Translate__textarea {
  min-height: 240px;
}

.Translate__confirm_container {
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid;
}
