.Chapter__main_container {
  position: relative;
  min-height: 500px;
  width: 100%;
  background-color: #ccc;
}

.Chapter__main_container_open {
  position: relative;
  min-height: 260px;
  width: 100%;
  background-color: #ccc;
}

.Chapter__show_modules_button_container {
  position: absolute;
  bottom: 10px;
  padding-left: 10px;
}

.Chapter__edit_button_container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Chapter__module_container {
  display: inline-flex;
  align-items: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 100%;
}

.Chapters__AddButton_container {
  margin-left: 20px;
  padding: 15px;
  margin-right: 20px;
}

.Chapter__module_scroll_container {
  display: inline-flex;
  overflow-y: auto;
}

.ChapterDetail__module_card {
  min-width: 250px;
  margin: 5px;
  margin-top: 0px;
}
