.GenericCard__card {
  margin-top: 20px;
}

.GenericCard__textContainer {
  display:inline-flex;
  width: 100%;
  height: 60px;
  padding: 10px;
  align-items: center;
}

.GenericCard__title {
  width: 100%;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  padding-top: 20px;
}

.GenericCard_footerButton {
  margin-left: auto;
}

.GenericCard__img {
  height: 160px;
}

.GenericCard__editButtons_container {
  position: absolute;
  display: inline-flex;
  padding: 10px;
  width: 100%;
}

.GenericCard__div_img {
  height: 160px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ccc;
}

.GenericCard__div_img_overlay {
  height: 100%;
}
