.EducationalDetail__Top {
  margin: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  align-items: center;
}

.EducationalDetail__TopTitle {
  font-size: 18px;
}

.EducationalDetail__TopButton {
  margin-right: 5px;
  height: 50px;
}
