.SlideshowGallery {
  display: flex;
  justify-content: space-between;
}
.SlideshowGallery__CurrentImageContainer {
  display: flex;
  height: calc(100% - 70px);
  justify-content: center;
  padding: 20px;
}

.SlideshowGallery__CurrentImage {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: auto;
}

.SlideshowGallery__SideControls {
  display: flex;
  width: 43px;
  margin: 5px;
  justify-content: center;
  flex-direction: column;
}


.SlideshowGallery__BottomControls {
    padding: 20px;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    margin: 15px auto;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Atlas Grotesk Web',Arial,sans-serif;
}

.SlideshowGallery__control_btn {
    border: 0;
    background-color: transparent;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
