.Home__Col-title-container {
  padding-top: 25px;
  display: inline-flex;
  width: 100%;
  margin-bottom: 30px;
}

.Home__titlebadge {
  margin-left: auto;
  margin-top: 5px;
  height: 18px;
  margin-right: 5px;
}

.Home__Col-card-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 140px);
}

.Home__Addbtn_container {
  background-color: #fff;
  margin-bottom: 10px;
}
