.EducationalForm {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.EducationalForm__FieldTranslated {
  display: flex;
  align-items: center;
}

.EducationalForm__FieldTranslated > *{
  margin-right: 5px;
}

.EducationalForm__FieldTranslated .medium-editor-element a{
  color: #0275d8;
}

.EducationalForm__FieldTranslated .medium-editor-element a[href^="object"]{
   border-bottom: 1px dashed #0275d8;
   color: inherit;
 }
