.EducationalCard__deleteBtn {
  margin-left: auto;
}

.EducationalCard__buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.EducationalCard__buttons button {
  margin-left: 2px;
}

.Educationals__AddButton-container {
  padding-top: 150px;
}
