.ModuleFormGallery__DocumentPreview__Gallery {
  height: calc(100% - 50px);
  margin-bottom: 5px;
}

.ModuleFormGallery__DocumentPreview__Caption {
  height: 45px;
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: white;
}
