.Sidebar__container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  background-color: #EBEBEB;
  text-align: center;
}

.Sidebar__menuBtn {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-top: 20px;
  display: flex!important;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.Sidebar__menuBtn__icon {
  color: #222;
  font-size: 24px;
}

.Sidebar__languageBtn {
  position: absolute;
  bottom: 20px;
}

/* CSS transition styles */
.sidebar-enter {
  /*transition: transform 500ms;
  transform: translateX(-90%);*/
  opacity: 0.01;
}

.sidebar-enter.sidebar-enter-active {
  /*transform: translateX(0%);*/
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.sidebar-leave {
  /*transition: transform 500ms;
  transform: translateX(0%);*/
  opacity: 1;
}

.sidebar-leave.sidebar-leave-active {
  /*transform: translateX(-90%);*/
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
