.ThemeDetail__topRow {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #eee;
  margin-bottom: 30px;
}

.ThemeDetail__topRow_title {
  position: relative;
  top: 10px;
  font-size: 18px;
}

.ThemeDetail__topRow_title a {
  color: #222;
}

.ThemeDetail__topRow_btnContainer {
  margin-left: auto;
  display: inline-flex;
  padding: 10px;
}

.ThemeDetail__topRow_btn {
  margin-left: 5px;
  height: 50px;
}

.ThemeDetail__Chapters_col {
  height: calc(100vh - 185px);
  overflow-y: scroll;
}
