.StoryPreview__container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ddd;
  background-size: cover;
  background-position: center center;
}

.StoryPreview__overlay {
  padding: 10px;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  flex: 1;
}
.StoryPreview__top {
  flex: 1;
  display: flex;
  align-items: center;
}
.StoryPreview__container {
  flex: 1;
}
.StoryPreview__top_right {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
}
.StoryPreview__bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.StoryPreview__content h1 {
font-size: 5.265rem;
text-transform: uppercase;
}

.StoryPreview__content p {
  font-size: 1.5rem;
}

.chapter .StoryPreview__content{
  text-align: center!important;
}

.chapter .StoryPreview__content h1 {
  font-size: 4rem !important;
  text-transform: capitalize !important;
  color: white !important;
}

.chapter .StoryPreview__content p {
  max-width: 60% !important;
  color: white !important;
  margin: auto;
  font-style: italic;
}
