.SideEditToolbar__container {
  padding-top: 30px;
  padding-right: 20px;
  width: 100%;
  height: 100vh;
  border-right: 1px solid #ccc;
}

.SideEditToolbar__image_title_container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.SideEditToolbar__img_buttons_container {
  display: inline-flex;
  padding: 10px;
}

.SideEditToolbar__img_button {
  padding: 0.2rem 0.35rem;
  margin-right: 5px;
}

.SideEditToolbar__Colorbutton-taupe-gray {
  min-height: 30px;
  background-color: #818A91;
}

.SideEditToolbar__Colorbutton-seven-gray {
  min-height: 30px;
  background-color: #777;
}

.SideEditToolbar__Colorbutton-dark-gray {
  min-height: 30px;
  background-color: #ADADAD;
}

.SideEditToolbar__Colorbutton-nine-gray {
  min-height: 30px;
  background-color: #999;
}

.SideEditToolbar__Colorbutton-montana {
  min-height: 30px;
  background-color: #373A3C;
}

.SideEditToolbar__Colorbutton-gainsboro {
  min-height: 30px;
  background-color: #DDD;
}

.SideEditToolbar__hex_input {
  max-height: 35px;
}

.SideEditToolbar__text_color_button-white {
  min-height: 30px;
  background-color: #fff;
}

.SideEditToolbar__text_color_button-black {
  min-height: 30px;
  background-color: #000;
}

.SideEditToolbar__bottom_btn_container {
  position: absolute;
  bottom: 20px;
  width: 80%;
}
