body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* general utilities */
.no-padding-left {
  padding-left: 0px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.flex {
  display: flex;
}

.flex-right {
  margin-left: auto;
}

.grid {
  display: grid;
}
