body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button:focus {
  outline:0;
}

.pointer {
  cursor: pointer !important;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

/* general utilities */
.margin-r-l-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.no-padding-left {
  padding-left: 0px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-right-5 {
  margin-right: 5px;
}

.flex {
  display: flex;
}

.flex-right {
  margin-left: auto;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

input.invisible-input,
textarea.invisible-input {
  z-index: 9999;
  opacity: 1;
  background-color: transparent;
  border: 0px;
  resize: none;
  outline: none;
}

button.tiny-btn {
  padding: 0.2rem 0.35rem;
}

.linked-object {
  color: deepskyblue !important;
}
