.OpenSidebar {
  position: absolute;
  left: 60px;
  background-color: #EBEBEB;
  border-left: 1px solid #fff;
  height: 100%;
  width: 350px;
  z-index: 99;
  text-align: left;
}

.OpenSidebar__toplist {
  list-style: none!important;
  margin-top: 20px;
  font-size: 28px;
}

.OpenSidebar__bottomlist {
  list-style: none!important;
  margin-top: 150px;
  font-size: 28px;
}

.OpenSidebar__btn {
  background-color: #fff;
  width: 250px;
  height: 40px;
  text-align: left;
  border-color: transparent;
}

.OpenSidebar__Language__container {
  padding-left: 40px;
  position: absolute;
  bottom: 20px;
}

.OpenSidebar__LanguageBtn_container {
  display: inline-flex;
}

.OpenSidebar__LanguageBtn {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex!important;
  align-items: center;
  justify-content: center;
}
