.Module__action_bottom_btn_container {
  position: absolute;
  bottom: 20px;
  width: 80%;
}

.ChooseModule__ChooseModuleCard {
  cursor: pointer;
  margin-top: 20px;
}

.ChooseModule__ChooseModuleCard-selected {
  margin-top: 20px;
  border: 2px solid lime!important;
}

.ChooseModule__sidecontainer {
  padding-top: 30px;
  padding-right: 20px;
  height: 100vh;
  border-right: 1px solid #ccc;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


.ChooseModule__mods_container {
  overflow-y: scroll;
  height: 100vh;
  padding-left: 25px;
}
