.ThemeForm__Preview-title-input {
  font-family: 'Behrens Antiqua' ,Georgia,serif;
  font-size: 5.265rem;
  text-transform: uppercase;
  width: 100%;
}
.ThemeForm__Preview-description-input {
  font-family: Georgia,serif;
  font-size: 1.5rem;
}

.ThemeForm__Preview-input-cont{
  display: flex;
  align-items: center;
  width: 100%;
}
